div.menu {
    background-color: hsl(55, 24%, 21%);
    width: 100%;
    padding: 10px;
    padding-left: 0;
}

div.menu nav a {
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: 21px;
    margin-left: 1px;
    transition: all 0.1s;
}

div.menu nav a:hover {
    background-color: #565044;
}